// Prepended variables via server file
// $cloudPath = '[JavaScript cloudPath]' + '\'
// $cache = '[JavaScript cache variable]'

// NOTE: base font is this large because of small screens!
$baseFont = 2.8rem
$baseLineHeight = 1.5
$baseFontFamily = 'Quattrocento Sans', Arial, sans-serif
$headerFontFamily = 'Asul', Arial, sans-serif
$cookieFontFamily = 'Cookie', Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif
$libreFontFamily = 'Libre Baskerville', Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif
$fixedWidthFontFamily = 'Anaheim', 'Inconsolata', 'Courier New', monospace
$fixedWidthFontFamily2 = 'Lekton', 'Inconsolata', 'Courier New', monospace

$color = brown
$linkColor = #ff5200
$linkHoverColor = #ff5200
$selectionColor = #ff5200
$selectionContrastColor = white
$placeholderColor = $darkRed

$mainBackgroundColor = white
$colorMode1 = #eaeaea
$colorMode2 = #dddddd

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>>
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>> TOOLTIPS AND MODAL
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>>

$popoverBackground = #fff
$popoverArrowWidth = 10px
$popoverArrowColor = #fff
$popoverTitleBackground = darken($popoverBackground, 3%)

$popoverArrowOuterWidth = $popoverArrowWidth + 1
$popoverArrowOuterColor = rgba(0, 0, 0, 0.25)

$modalWidth = 864
$modalHeaderHeight = 36
$modalBodyHeight = 486
$modalFooterHeight = 30

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>>
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>> Z-INDEX MASTER LIST
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: >>>>>

$zIndexBase = 1

$zIndexBackground = 10
$zIndexMidground = 11
$zIndexForeground = 12
$zIndexInteractive = 13