header
	a.logo(href='/')
		h1 Soapbox

	nav.navigation
		ul
			li
				iframe(src='http://nodeknockout.com/iframe/xyzzy', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
			li: a(href='/') Home
			li: a(href='/leaders/') Leaderboard
			li: a(href='/contact/') About
			li: a(href='https://github.com/nko4/xyzzy') Github