header
	a(href='/')
		h1.logo Soapbox

	nav.navigation
		ul
			li: a(href='/') Home
			li: a(href='/rooms') Rooms
			li: a(href='/contact') About
			li: a(href='https://github.com/socketstream/socketstream') Github

	iframe(src='http://nodeknockout.com/iframe/xyzzy', frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')