extends components/layout

block append content

	.chatBox
		input#chatInput(type='text', placeholder='Say something...')
		#chatLog

	//- section
	//- 	h2 Setup a new meeting:
	//- 	button#setup-new-meeting Setup New Meeting
	//- table
	//- 	tr
	//- 		td
	//- 			h2 Local Media Stream
	//- 			section#local-media-stream
	//- 	tr
	//- 		td
	//- 			h2 Remote Media Streams
	//- 			section#remote-media-streams

block append scripts-plugins
	script(src='#{cloudPath}socket.io/socket.io.js')
	//- script(src='#{cloudPath}js/libs/webrtc.js')
	//- script(src='#{cloudPath}js/libs/firebase.js')

block append scripts-views
	script(src='#{cloudPath}js/views/box.js')
	script $(function() { SOAPBOX.initBox({}); });