extends components/layout

block append content

	//- .chatBox
	//- 	input#chatInput(type='text', placeholder='Say something...')
	//- 	#chatLog

	//- input#whoAmI(type='text', placeholder='Who are you?')
	//- input#whoCall(type='text', placeholder='Who do you want to call?')
	//- button#hangup Hangup
	.video-container
		video.them(autoplay='true')
		video.me.rtc-pip(autoplay='true', muted='true')

block append scripts-plugins
	script(src='#{cloudPath}socket.io/socket.io.js')
	script(src='#{cloudPath}js/libs/holla.js')

block append scripts-views
	script(src='#{cloudPath}js/views/box.js')
	script $(function() { SOAPBOX.initBox({}); });