extends components/layout

block append content
	section
		h1 About the Team
		h2 Robert Hall
		br
		h2 Russell Goldenberg
		br
		h2 Matt Warren
		p Matt graduated from Northeastern University in 2011 and has been working as a Systems Administrator/DevOps Engineer in the Boston area.  He is currently employed at Wanderu, where he had his first experience writing node.js.