extends components/layout

block append content
	.signup
		label Join a Soapbox (hit enter)
		input#email(type='text', placeholder='Enter your email...')
		//- input#email(type='text')
		#message.message
	.nosupport
		p Your browser does not support the good fight.

//- block append scripts-plugins

block append scripts-views
	script(src='#{cloudPath}js/views/home.js')
	script $(function() { SOAPBOX.initHome({}); });