extends components/layout

block append content
	.signup
		label Join a Soapbox
		input#email(type='text', placeholder='Enter your email...')
		//- input#email(type='text')
		#message.message

//- block append scripts-plugins

block append scripts-views
	script(src='#{cloudPath}js/views/home.js')
	script $(function() { SOAPBOX.initHome({}); });