extends components/layout

block append content
	section.leaderBoard
		h1 Who's on first?
		table
			tr
				th.center User
				th.center Reputation
			each user in users
				tr
					td.center
						img.gravatar(src=user.avatarURL)
					td.center= user.reputation

block append scripts-views
	script(src='#{cloudPath}js/views/leaders.js')
	script $(function() { SOAPBOX.initLeaders({}); });