//- - var globals = JSON.parse(globals);
- var cloudPath = globals.cloudPath;
//- - var baseUrl = globals.baseUrl;


!!! 5
html(class='no-js', lang='en')
	head

		include ../includes/head-meta
		include ../includes/head-styles
		include ../includes/head-scripts

	body

		//- #content.clearfix

		include ../includes/header
		//- .container
		//- 	block content
		//- 	include ../includes/side
		//- 	include ../includes/footer

		.javascripts
			include ../includes/javascript