- var cloudPath = globals.cloudPath;
!!! 5
html(class='no-js', lang='en')
	head
		block scripts
			include ../includes/head-meta
			include ../includes/head-styles
			include ../includes/head-scripts

	body

		//- script var SOAPBOX = !{JSON.stringify(globals)};

		//- #content.clearfix

		include ../includes/header
		.container
			block content
			//- include ../includes/side

		include ../includes/footer

		.javascripts
			include ../includes/javascript